SECRET_KEY=SUA_CHAVE_SECRETA_DO_DJANGO
DEBUG=True

WHATSAPP_ACCESS_TOKEN=SEU_TOKEN_AQUI
WHATSAPP_PHONE_NUMBER_ID=SEU_PHONE_NUMBER_ID_AQUI
WHATSAPP_API_VERSION=vXX.X

WHATSAPP_PROVIDER=twilio

TWILIO_ACCOUNT_SID=SEU_ACCOUNT_SID
TWILIO_AUTH_TOKEN=SEU_AUTH_TOKEN
TWILIO_WHATSAPP_FROM=whatsapp:+NUMERO_DO_SANDBOX

ALLOWED_HOSTS=localhost
DB_NAME=oficina_db
DB_USER=postgres
DB_PASSWORD=SUA_SENHA_DO_POSTGRES
DB_HOST=localhost
DB_PORT=5432